*{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black !important;
}

.container{
    width: 100vw;
    overflow-x: hidden;
    height: 100vh;
    position: relative;
    display: block;
}
.trailer{
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    z-index: -2;
}
.trailer video{
    width: 100%;
    min-width: 98vw;
    height: auto;
    position: relative;
    display: block;
}
.hero{
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.header{
    background: linear-gradient(to top, transparent, black);
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 10;
    width: 1;
    width: 100%;
    padding: 0 3%;
    webkit-transition: background-color 500ms ease-in-out;
    -ms-transition: background-color 500ms ease-in-out;
    transition: background-color 500ms ease-in-out;
}
.header.black{
    background-color: black ;
}
.logo img{
    width: 5.8rem;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.menu-left,
.menu-right{
    display: flex;
    color: white;
    font-size: 0.87rem;
}
.menu ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.menu ul li{
    padding-right: 0.9rem;
}

.menu .user img{
    width: 2rem;
    margin-right: 0.5rem;
}

.menu .user{
    display: flex;
    align-items: center;
}

.menu i{
    font-size: 20px;
}

.menu-right ul li{
    padding-right: 1.5rem;
}

.banner{
    height: calc(100vw / 2.2);
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    padding: 15rem 0 0 3%;
    width: 50%;
    z-index: 1;
}

.banner .poster{
    width: 100%;
}

.banner .subtitle{
    font-size: 1.25rem;
    color: #fff;
    line-height: 1.25;
    padding-top: 0.5rem;
}

.buttons{
    margin-top: 2rem;
}

.buttons .btn{
    color: #fff;
    padding: .6rem 2rem;
    margin-right: 0.75rem;
    font-weight: 600;
    border-radius: .125rem;
    background: rgba(51, 51, 51, 0.4);
    font-family: inherit;
    font-size: 100%;
    border: 0;
}

.buttons .btn i{
    margin-right: .5rem;
}
.buttons :hover{
    background-color: #e5e5e5;
    cursor: pointer;
    color: black;
}
.category{
    display: flex;
    padding: 0 3%;
    margin-top: 3%; 
    position: relative;
    flex-direction: column;
    overflow:hidden;
}
.slider-container2{
    margin-top:-72px;
}
.category span{
    color: #e5e5e5;
    font-size: 18px;
    line-height: 17px;
    font-weight: 600;
    order: -1;
}
.category button.prev-btn{
    height: 177px;
    transform: translateY(17px);
    color: #fff;
    position: absolute;
    border: none;
    outline: none;
    left: 0;
    opacity: 0;
    z-index: 5;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), black);
    transition: opacity 0.5 ease-in-out;
}
.category button.prev-btn:hover{
    opacity: 0.65;
    cursor: pointer;
}
.category button.next-btn:hover
{
    opacity: 0.65;
    cursor: pointer;
}
.category button.next-btn{
    height: 177px;
    transform: translateY(17px);
    color: #fff;
    position: absolute;
    border: none;
    outline: none;
    opacity: 0;
    right: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), black);
    transition: opacity 0.5 ease-in-out;
    z-index: 5;
}

.fa-solid.fa-greater-than.fa-sm, .fa-solid.fa-less-than.fa-sm{
    font-weight: 1000;
    transform: scaleY(700%);
}

.slider{

    display: flex;
    transition: transform 0.3s ease;
}
.slider .movie{
    display: flex;
    transition: transform 0.3s ease;
    margin-right: 5px;
}
.slider .movie img{
    padding-right: 5px;
    height: 177px;
    min-width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    text-align: center;
}

.movie{
    display: flex;
    flex-direction: column;
    width: 320px;
    position: relative;
}
.movie:hover .controls{
    display: block;
}
.controls{
    padding: 3%;
    display: outside;
    background-color: rgb(20, 22, 22);
    position: relative;
    width: 320px;
    height: 150px;
    box-sizing: border-box;
}
.controlsButtons{
    border-radius: 64px;
    width: 32px;
    height: 32px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(15, 15, 15);
    color: lightgray;
    font-size: .66rem;
    position: relative;
}
.controlsButtons:hover{
    background-color: white;
    color: black;
}
#controlButton4{
    position: absolute;
    right: 0;
    margin-right: 3%;
}
#relevancy
{
    color:rgb(14, 206, 100);
    font-weight: 600;
    font-size: .85rem;
}
#classification{
    color: #fff;
    background-color: black;
    text-align: center;
    vertical-align: middle;
    padding: 3px;
    font-weight: 600;
    font-size: 1rem;
}
#seasons{
    color: #a1a1a1;
    font-size: .85rem;
}
#quality{
    border: #a1a1a1 1px solid;
    border-radius: 20%;
    color: #a1a1a1;
    font-size: .70rem;
    font-weight: 600;
    padding: 0 2%
}
.description{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tags{
    display: flex;
    flex-direction: row;
}
.tags ul{
    display: flex;
    padding: 0;
    font-size: 0.85rem;
    justify-content: space-around;
    color: white;
    font-weight: 500;
    width: 100%;
    list-style-type: none;
}
.tags ul li i{
    font-size: .4rem;
    text-align: center;
}

.footer{
    margin: 100px auto 0;
    width: 80%;
    color: #808080;
}

.footer .social i{
    padding-right: 26px;
    font-size: 30px;
}

.flex{
    display: flex;
    padding-bottom: 80px;
}

.footer .info{
    width: 25%;
}

.footer .info ul{
    list-style: none;
    display: inline;
    font-size: 12px;
}

.footer .info ul li{
    margin-top: 8px
}

.hidden{
    opacity: 0 !important;
}

.movie:hover .controls{
    display: block;
    opacity: 1;
}
.movie:hover {
    transform: scale(1.1);
    z-index: 3;
    cursor: pointer;
}
.controls{
    padding: 3%;
    width: 316px;
    display: block;
    opacity: 0;
    z-index: 3;
}
.controlsButtons{
    border-radius: 64px;
    width: 32px;
    height: 32px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(15, 15, 15);
    color: lightgray;
    font-size: .66rem;
    position: relative;
}
.controlsButtons:hover{
    background-color: white;
    color: black;
}
#controlButton4{
    position: absolute;
    right: 0;
    margin-right: 3%;
}
#relevancy
{
    color:rgb(14, 206, 100);
    font-weight: 600;
    font-size: .85rem;
}
.classification{
    color: #fff;
    text-align: center;
    vertical-align: middle;
    padding: 3px;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 20%;
}
#classification18
{
    background-color: black;
}
#classification16
{
    background-color: red;
}
#classification14
{
    background-color: orange;
}
.avaliations{
    padding: 0.15rem
}
.avaliations span i{
    font-size: .66rem;
    text-align: center;
    vertical-align: middle;
}
#mostLiked{
    font-size: .85rem;
}
#seasons{
    color: #a1a1a1;
    font-size: .85rem;
}
#quality{
    border: #a1a1a1 1px solid;
    border-radius: 20%;
    color: #a1a1a1;
    font-size: .70rem;
    font-weight: 600;
    padding: 0 2%
}
.description{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tags{
    display: flex;
    flex-direction: row;
}
.tags ul{
    display: flex;
    padding: 0;
    font-size: 0.85rem;
    justify-content: space-around;
    color: white;
    font-weight: 500;
    width: 100%;
    list-style-type: none;
}
.tags ul li i{
    font-size: .4rem;
    text-align: center;
}
.bottomBlur
{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 72px;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4), black);
}
.header.mobile{
    display: none;
}


@media (max-width: 950px) {
    .banner{
        width: 100%;
        height: calc(100vw / 2);
        padding: 25vw 0 0 3%;
    }
    .banner .poster{
        width: 70%;
    }
    .subtitle{
        font-size: 0.6rem;
    }
  }

@media (max-width: 810px) {
    .header.main{
        display: none;
    }
    .header.mobile{
        background-color: black;
        width: 100%;
        height: 8vh;
        display: flex;
    }
    .header.mobile .menu-left
    {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: top;
        justify-content: left;
        font-size: 20px;
    }
    .header.mobile .menu-right{
        display: flex;
        align-items: top;
        justify-content: left;
        font-size: 20px;
    }
    .header.mobile .dots i{
        margin-left: 1rem;
    }
    .header.mobile .logo{
        margin-left: 1rem;
    }
    .header.mobile .menu{
        color: white;
        width: auto;
    }
    .trailer{
        transform: translateY(8vh);
    }
    .subtitle{
        display: none;
    }
    .buttons .btn{
        padding: 0.3rem;
    }
    .buttons{
        margin-top: 1rem;
    }
    .banner{
        width: 100%;
        height: calc(100vw / 1.6);
        padding: 25vw 0 0 3%;
    }
    .banner .poster{
        width: 85%;
    }
    .category{
        overflow: scroll;
    }
    .category::-webkit-scrollbar {
        display: none;
    }
    .prev-btn, .next-btn{
        display: none;
    }
    .slider .movie img{
        padding-right: 5px;
        height: 144px;
        min-width: 100%;
        box-sizing: border-box;
        flex-shrink: 0;
        text-align: center;
    }
    
    .movie{
        display: flex;
        flex-direction: column;
        width: auto;
        position: relative;
    }
    .movie:hover .controls{
        display: block;
    }
    .controls{
        padding: 3%;
        display: outside;
        background-color: rgb(20, 22, 22);
        position: relative;
        width: auto;
        height: 150px;
        box-sizing: border-box;
    }
    .controlsButtons{
        border-radius: 64px;
        width: 32px;
        height: 32px;
        border-color: lightgray;
        border-style: solid;
        border-width: 1px;
        background-color: rgb(15, 15, 15);
        color: lightgray;
        font-size: .66rem;
        position: relative;
    }
}